<form asp-action="Index">
    <p>
        <label>He so A :</label>
        <input type="text" name="hesoA">
    </p>
    <p>
        <label>He so B :</label>
        <input type="text" name="hesoB">
    </p>
    <p>
        <label>He so C :</label>
        <input type="text" name="hesoC">
    </p>
    <input type="submit" name="Save">
</form>
<h2>@ViewBag.thongbao</h2>