<h2>Thông tin nhân viên: @ViewBag.mess</h2>
<form asp-action="Index">
    <label>Họ tên: </label>
    <input type="text" name="EmployeeName">
    <br>
    <label>Tuổi: </label>
    <input type="text" name="EpAge">
    <br>
    <label>Địa chỉ: </label>
    <input type="text" name="EpAdd">
    <br>
    <input class="btn btn-danger" type="submit" value="Save">
</form>